{% include 'crm_app/menu.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lead list</title>
</head>
<body>
<div class="list-view-content">
<h1>Lead list</h1>
{% if perms.crm_app.add_lead %}
<form method="post">
    {% csrf_token %}
    <button type="submit" name="add_lead" value="True">Add lead</button>
</form>
{% endif %}
{% if object_list %}
<table class="list-view-table">
    <tr>
        <th class="list-view-table-th">ID</th>
        <th class="list-view-table-th">Status</th>
        <th class="list-view-table-th">Web</th>
        <th class="list-view-table-th">Product</th>
        <th class="list-view-table-th">Created at</th>
        <th class="list-view-table-th">Processed at</th>
        <th class="list-view-table-th">Operator assigned</th>
    </tr>
    {% for lead in object_list %}
    <tr>
    <td class="list-view-table-td"><a href="{% url 'lead_detail' lead.lead_id %}">{{ lead.lead_id }}</a></td>
    <td class="list-view-table-td">{{ lead.status }}</td>
    <td class="list-view-table-td"><a href="{% url 'web_detail' lead.offer_FK__web__web_id %}">{{ lead.offer_FK__web__web_name }}</a></td>
    <td class="list-view-table-td"><a href="{% url 'web_detail' lead.offer_FK__product__product_id %}">{{ lead.offer_FK__product__product_name }}</a></td>
    <td class="list-view-table-td">{{ lead.created_at }}</td>
    {% if lead.processed_at %}
    <td class="list-view-table-td">{{ lead.processed_at }}</td>
    {% else %}
    <td class="list-view-table-td">Not processed</td>
    {% endif %}
    {% if lead.operator_assigned %}
    <td class="list-view-table-td">{{ lead.operator_assigned }}</td>
    {% else %}
    <td class="list-view-table-td">Not assigned</td>
    {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
<h3>No yet leads created</h3>
{% endif %}
{% include 'crm_app/pagination_navigation.html' %}
</div>
</body>
</html>