{% include 'crm_app/menu.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lead {{ object.id }}</title>
</head>
<body>
{% block top_menu %}
{% endblock %}
<a href="{% url 'lead_list' %}">Back to lead list</a>
<h1>Lead ID: {{ object.pk }}</h1>
<h3>Status: {{ object.status }}</h3>
<h3>Creation date and time: {{ object.created_at }}</h3>
<h3>Contact phone: {{ object.contact_phone }}</h3>
<h3>Customer first name: {{ object.customer_first_name }}</h3>
<h3>Customer last name: {{ object.customer_last_name }}</h3>
<h3>Product: <a href="{% url 'product_detail' object.offer_FK.product.pk %}">{{ object.offer_FK.product }}</a></h3>
<h3>Web: <a href="{% url 'web_detail' object.offer_FK.web.pk %}">{{ object.offer_FK.web }}</a></h3>
<h3>Lead cost: {{ object.lead_cost }}</h3>
<h3> Operator assigned:
{% if object.operator_assigned %}
    {{ object.operator_assigned }}
{% else %}
    No operator assigned
</h3>
{% if perms.crm_app.add_order %}
<form method="post">
    {% csrf_token %}
    <button name="lead_id_from_button" type="submit" value="{{object.pk}}">Create order</button>
</form>
{% endif %}
{% endif %}
</body>
</html>