{% block top_menu %}
<div>
    <div>
        Welcome {{request.user.username}}, {{request.user.profile.role}}
    </div>
    <div><a href="{% url 'logout' %}">Logout</a></div>
</div>
{% endblock %}

{% block side_menu %}
{% for menu_point in menu %}
<ul>
    <li>
        {% if menu_point.title == 'Main' %}
        <a href="{% url 'home_page' 'prod' %}">{{ menu_point.title }}</a>
        {% else %}
        <a href="{% url menu_point.url_address %}">{{ menu_point.title }}</a>
        {% endif %}
        {% if menu_point.title == selected_menu %}
         SELECTED
        {% endif %}
    </li>
</ul>
{% endfor %}
{% endblock %}

