{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order creation</title>
</head>
<body>
{% include 'crm_app/menu.html' %}
<a href="{% url 'order_list' %}">Back to order list</a>
<h1>Order creation</h1>
<h2>
    Lead link:
    {% if lead %}
    <a href="{% url 'lead_detail' lead.pk %}">{{ lead }}</a>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="delete_lead_link" value="True">Delete lead link</button>
    </form>
    {% else %}
    None
    {% endif %}
</h2>

<form class="create-form" method="post">
    {% csrf_token %}
    <div class="form-errors">{{form.non_field_errors}}</div>

    {% for f in form %}
    <p><label class="wider-form-label" for="{{f.id_for_label}}">{{f.label}}</label>{{f}}</p>

    <div class="form-error">{{f.errors}}</div>
    {% endfor %}
    <button type="submit">Create order</button>

</form>
</body>
</html>