{% include 'crm_app/menu.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order list</title>
</head>
<body>
<div class="list-view-content">
<h1>Order list</h1>
{% if perms.crm_app.add_order %}
<form method="post">
    {% csrf_token %}
    <button type="submit" name="add_order" value="True">Add order</button>
</form>
{% endif %}
{% if object_list %}
    <table class="list-view-table">
        <tr>
            <th class="list-view-table-th">ID</th>
            <th class="list-view-table-th">Status</th>
            <th class="list-view-table-th">Order created</th>
            <th class="list-view-table-th">Sent date</th>
            <th class="list-view-table-th">Order operator</th>
        </tr>
    {% for order in object_list %}
        <tr>
            <td class="list-view-table-td"><a href="{% url 'order_detail' order.pk %}">{{ order.pk }}</a></td>
            <td class="list-view-table-td">{{ order.status }}</td>
            <td class="list-view-table-td">{{ order.order_created }}</td>
            {% if order.sent_date %}
            <td class="list-view-table-td">{{ order.sent_date }}</td>
            {% else %}
            <td class="list-view-table-td">No data</td>
            {% endif %}
            <td class="list-view-table-td">{{ order.order_operator }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
<h3>No orders created yet</h3>
{% endif %}
{% include 'crm_app/pagination_navigation.html' %}
</div>
</body>
</html>