{% load crm_app_tags %}
{% include 'crm_app/menu.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order {{object.pk}}</title>
</head>
<body>
{% block top_meny %}
{% endblock %}
<div class="back-link"><a href="{% url 'order_list' %}">Back to order list</a></div>
<h1>Order ID: {{ object.pk }}</h1>
<h3>Status: {{ object.status }}</h3>
<h3>Lead:
    {% if object.lead_FK %}
    <a href="{% url 'lead_detail' object.lead_FK.pk %}"> {{ object.lead_FK }}</a>
    {% else %}
    No lead
    {% endif %}
</h3>
<h3>Customer: {{ object.customer_first_name }}, {{ object.customer_last_name }}</h3>
<h3>Send date:
    {% if object.sent_date %}
    {{ object.sent_date }}
    {% else %}
    No info
    {% endif %}
</h3>
<h2>Delivery address:</h2>
<h3>City: {{ object.delivery_city }}</h3>
<h3>Street: {{ object.delivery_street }}</h3>
{% if object.delivery_house_number %}
<h3>House number: {{ object.delivery_house_number }}</h3>
{% endif %}
{% if delivery.apartment_number %}
<h3>Apartment: {{ object.delivery_apartment_number }}</h3>
{% endif %}
<h3>Zip code: {{ object.delivery_zip_code }}</h3>
{% if perms.crm_app.view_profile %}
<h3>Operator: <a href="{% url 'profile_detail' object.order_operator.profile.pk %}">{{ object.order_operator }}</a></h3>
{% else %}
<h3>Operator: {{ object.order_operator }}</h3>
{% endif %}
<h3>Ordered products: </h3>
<table class="list-view-table">
    <tr>
        <th class="list-view-table-th">Product</th>
        <th class="list-view-table-th">Quantity ordered</th>
        <th class="list-view-table-th">Price per unit</th>
        <th class="list-view-table-th">Total price</th>
    </tr>
    {% for ordered_product in object.orderedproduct_set.all %}
    <tr>
        <td class="list-view-table-td"><a href="{% url 'product_detail' ordered_product.product_FK.pk %}">{{ ordered_product.product_FK }}</a></td>
        <td class="list-view-table-td">{{ ordered_product.ordered_quantity }}</td>
        <td class="list-view-table-td">{{ ordered_product.ordered_product_price }}</td>
        <td class="list-view-table-td">{{ ordered_product.total_price }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td class="list-view-table-td" colspan="3">
            <span style="font-weight: bold">Order total price</span>
        </td>
        <td class="list-view-table-td"><span style="font-weight: bold">{{ object | order_total_price }}</span></td>
    </tr>
</table>
{% if perms.crm_app.change_order %}
<form method="post">
    {% csrf_token %}
    <button class="update-order-button" type="submit" name="update_order" value="true">Update order</button>
</form>
{% endif %}
</body>
</html>