{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment {{ object.pk }} update</title>
</head>
<body>
<h1>Payment to {{ object }} update</h1>
<form method="post">
    {% csrf_token %}
<div class="form-errors">{{form.non_field_errors}}</div>

    {% for f in form %}
    <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}</label>{{f}}</p>

    <div class="form-error">{{f.errors}}</div>
    {% endfor %}    <button type="submit" value="update">Update payment</button>
</form>
<form method="post">
    {% csrf_token %}
    <button type="submit" name="delete_payment" value="True">Delete payment</button>
</form>
</body>
</html>