<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.category_name }}</title>
</head>
<body>
{% include 'crm_app/menu.html' %}
<a href="{% url 'product_category_list' %}">Back to product category list</a>
<h1>{{ object.category_name }}</h1>
{% if object.product_set.all %}
  <h3>List of products in the category</h3>
  <table border="solid black">
    <tr>
      <th>Product image</th>
      <th>Product name</th>
      <th>Product quantity available</th>
    </tr>
    {% for product in object.product_set.all %}
      <tr>
          <td>
              {% if product.product_image %}
              <img src="{{ product.product_image.url }}" width="100">
              {% else %}
              No image
              {% endif %}
          </td>
          <td><a href="{% url 'product_detail' product.pk %}">{{ product.product_name }}</a></td>
          <td>{{ product.quantity_available }}</td>
      </tr>
    {% endfor %}
  </table>
{% else %}
<h3>No related products yet</h3>
{% endif %}
{% if perms.crm_app.change_productcategory %}
<form method="post">
    {% csrf_token %}
    <button type="submit">Update category</button>
</form>
{% endif %}
</body>
</html>