{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User {{ object.user.name }}</title>
</head>
<body>
{% include 'crm_app/menu.html' %}
<div class="back-link"><a href="{% url 'profile_list' %}">Back to user list</a></div>
<h1>Profile details</h1>
<h3>Login: {{ object.user.username }}</h3>
<h3>Role: {{ object.role }}</h3>
<h3>
    Active:
    {% if object.blocked %}
    No
    {% else %}
    Yes
    {% endif %}
</h3>
</body>
</html>