{% include 'crm_app/menu.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile list</title>
</head>
<body>
<div class="list-view-content">
<h1>Profile list</h1>
<table class="list-view-table">
    <tr>
        <th class="list-view-table-th">User login</th>
        <th class="list-view-table-th">User role</th>
        <td class="list-view-table-th">Active</td>
    </tr>
    {% for profile in object_list %}
    <tr>
        <td class="list-view-table-td">
            <a href="{% url 'profile_detail' profile.pk %}">{{ profile.user.username }}</a>

        </td>
        <td class="list-view-table-td">{{ profile.role }}</td>
        <td class="list-view-table-td">
            {% if profile.blocked %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% include 'crm_app/pagination_navigation.html' %}
</div>
</body>
</html>