{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web creation</title>
</head>
<body>
{% include 'crm_app/menu.html' %}
<div class="back-link"><a href="{% url 'web_list' %}">Back to web list</a></div>
<h1>Web creation</h1>
<form method="post">
    {% csrf_token %}
    <div class="wider-form-errors">{{form.non_field_errors}}</div>
    {% for f in form %}
    <p><label class="form-label" for="if.id_for_label">{{f.label}}</label>{{f}}</p>
    <div class="form-errors">{{f.errors}}</div>
    {% endfor %}
    <button type="submit">Create new Web</button>
</form>
</body>
</html>