{% include 'crm_app/menu.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web list</title>
</head>
<body>
<div class="list-view-content">
<h1>Web List</h1>
{% if perms.crm_app.add_web %}
<form method="post">
    {% csrf_token %}
    <button name="add_web" value="True">Add new web</button>
</form>
{% endif %}
{% if webs %}
<table class="list-view-table">
    <tr>
        <th class="list-view-table-th">Web id</th>
        <th class="list-view-table-th">Web name</th>
        <th class="list-view-table-th">Web balance</th>
        <th class="list-view-table-th">Make payment</th>
    </tr>
    {% for web in webs %}
    <tr>
        <td class="list-view-table-td">{{ web.pk }}</td>
        <td class="list-view-table-td"><a href="{% url 'web_detail' web.pk %}">{{ web.web_name }}</a></td>
        <td class="list-view-table-td">{{ web.balance }}</td>
        <td class="list-view-table-td">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="web_pk" value="{{web.pk}}">Make payment</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h3>No webs added yet.</h3>
{% endif %}
{% include 'crm_app/pagination_navigation.html' %}
</div>
</body>
</html>